
/*google font import*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




/*style for top page section*/

.navbar {
    justify-content: space-between;
    background-color:#363636;
    font-size: 2.5em;
}

body {
    background-color:#616060;
    font-family: "Fugaz One", sans-serif;
    color:#1d1d1d
}
.hero {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align:center;
    flex-flow:column;
    align-items:center;
}
    
.hero-picture {
    background-image: url('https://cdn.pixabay.com/photo/2021/05/22/17/03/fishing-6274147_960_720.jpg'); ; 
    min-height:450px;
    background-size:cover;
    background-position:center;
    margin-top:2.5em;;
}


.footer {
    display:block;
    height: 150px;
    width:100%;
    background-color: #727171;
    margin-top:2.5em;
    text-align:justify;
    

}
