
/*google font import*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*body styling*/

.fontfugaz {
    font-family: "Fugaz One", sans-serif;
}

body {
    background-color:#585656;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 800;
    color:white;
    display:flex;
    min-height:100vh;
    flex-direction:column;
    justify-content: center;

}

main {
    flex:1 0 auto;
}



/* Navbar */
.navbar {
    background-color:#585656;
    font-size: 2.5em;
    display:flex;
    flex-direction:row;
    height:250px;
    margin:0px 35px 0px 35px;
    align-items:center;
    gap:15px;
    justify-content: space-between;
    max-width:100%;
    
}
.logo {
    width:250px;
    height:250px;
}
.navbar .navtxt {
    color:#1d1d1d;
    text-decoration: none;
}
.navtxt:hover {
    color:#000000;
}
@media (max-width: 768px) {
    
    .navbar {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
        justify-content: center;
        max-width:100%;
        height:auto;
    }
    .logo {
        width:100%;
        margin-bottom:15px;
    }
    .navdiv {
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
    }

}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align:center;
    flex-flow:column;
    align-items:center;
}
    
.hero-picture {
    background-image: url('https://cdn.pixabay.com/photo/2021/05/22/17/03/fishing-6274147_960_720.jpg'); ; 
    min-height:450px;
    background-size:cover;
    background-position:center;
    margin-top:2.5em;;
}
/*About us*/

.sportfisk {
    display:flex;
    justify-content:center;
    margin-top:100px;
    padding:0px;
    text-align:center;
}
.hover {
    color:#1d1d1d;
}
.hover:hover {
    color:#363636;
}

/* events */

@media (max-width:768px) {
    .list {
        align-items:center;

    }
}
section ul {
    display:flex;
    justify-content:left;
    flex-direction: row;
    padding:50px;
    flex-wrap:wrap;
    overflow-wrap:anywhere;
}
.list li {
    border-bottom:5px solid black;
    padding: 15px;
}

.list li:last-child {
    border-bottom:none;
}


/* Footer section styling */

footer {
    display:flex;
    height: 130px;
    width:100%;
    background-color: #727171;
    margin-top:2.5em;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:flex-start;
}

footer a {
    color:white;
}
a:hover {
    color:#363636;
}
.footer-social {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:5px;
    text-align:left;
    align-self:center;
}
.footer-contact {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:5px;
    text-align:left;
    align-self:center
}
.endspan {
    display:flex;
    justify-content:center;
    text-align:center;
    background-color: #727171;
    bottom:0;
}

/* Contact page */

#form {
    height:400px;
}

/*events section styling */

.event {
    color:white;
}
.event a:hover {
    color:#363636;
}
.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}