
/*google font import*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




/*style for top page section*/

.navbar {
    justify-content: space-between;
    background-color:#4C704F;
}

body {
    background-color:#5D8E52;
    margin:0;
    font-style: "Fugaz One", sans-serif;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align:center;
    margin:0;
    
}
.hero-picture {
    background-image: url('assets\images\hero-background.jpg'); 
    min-height:400px;
    background-size:cover;
    background-position:center;
    background-color:blue;
    margin-top:2.5em;
}

.footer {
    display:block;
    height: 55px;
    width:100%;
    background-color: #4C704F;
    margin-top:2.5em;
    text-align:justify;
    

}
